<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Worlds5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Worlds5.Properties.Settings>
            <setting name="NavPath" serializeAs="String">
                <value>%APPSTART%\Album\</value>
            </setting>
            <setting name="SeqPath" serializeAs="String">
                <value>%APPSTART%\Sequence\</value>
            </setting>
            <setting name="BitmapWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="BitmapHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="AngularResolution" serializeAs="String">
                <value>0.055</value>
            </setting>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Labels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FramesPerSec" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="AutoRepeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>840</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SphereRadius" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CentreLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CentreLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalView" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="HorizontalView" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ExposureValue" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="SamplingInterval" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="RayPoints" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MaxSamples" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="BoundaryInterval" serializeAs="String">
                <value>0.0005</value>
            </setting>
            <setting name="BinarySearchSteps" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Saturation" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MainState" serializeAs="String">
                <value>NORMAL</value>
            </setting>
            <setting name="StartDistance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EndDistance" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SurfaceContrast" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SurfaceThickness" serializeAs="String">
                <value>0.004</value>
            </setting>
            <setting name="LightingAngle" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ShowSurface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExterior" serializeAs="String">
                <value>True</value>
            </setting>
        </Worlds5.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
